* {
  font-family: sans-serif;
}

/* .container {
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
} */

.display-page.closed {
  display: none;
}

.display-page {
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.profile-title {
  text-align: center;
}

.info {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* label {
  color: white;
  background-color: orangered;
  padding: 10px 20px;
} */

.input-form {
  justify-content: center;
  margin-left: 20px;
}

/* .box.open {
  background-color: white;
  padding: 60px 40px;
  width: 350px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border-radius: 5px;
  box-shadow: 0 0 0 1000px rgb(0 0 0 / 50%);
} */

.input-page.open {
  background-color: #dcdcdc;
  justify-content: end;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  justify-content: flex-end;
}

.info-input {
  display: flex;
}
